html {
  background: url('./land.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body, a:link, a:visited, a:active{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.title {
  background-color: rgb(255, 253, 253);
  text-transform: uppercase;
  letter-spacing: 0;
  float: left;
  left: 50%;
  width: 100%;
  font: 700 2rem "Oswald", sans-serif;
  padding: .25em 0 .325em;
  margin: 0 10px;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.addDancerButton{
  padding:5px 12px;
  float:right;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #fce9e6;
}

.topbar{
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.dancer {
  position: absolute;
}

.cupcake {
  font-size: 5rem;
  margin-block: 2rem;
}

.cupcake:empty::before {
  content: '🧁 ';
}

.hankey {
  animation: hankey-dance .8s infinite alternate ease-in-out;
  display: block;
  font-size: 5rem;
  border: none;
}

.hankey:empty::before {
content: '💩 ';
}

@keyframes hankey-dance {
  from, 49% { transform-origin: -50% 100%; }
  50%, 75%, to { transform-origin: 150% 100%; }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
 }

 .tree {
  position: absolute;
  animation-name: swaying;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border: none;
  font-size: 5rem;
  display: block;
  margin-block: 1em;
 }

 .tree:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.3);
}

.tree:empty::before {
  content: '🍄 ';
}

 @keyframes swaying {
  from { transform: skewX(15deg); }
  to { transform: skewX(-15deg); }
 }

 @keyframes rotate {
  0% {
      -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
  }
13% {
      -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
}
25% {
    -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
}
38% {
    -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
}
50% {
    -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
}
63% {
    -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
}
75% {
    -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
}
88% {
    -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
}
  100% {
    -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
  }
}

.rotate {
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name:"rotate";
  -webkit-animation-iteration-count: infinite;
  position:absolute;
  left:30%;
  top:20%;
 }